.category {
    &-container {
        @extend .blogs-container;
        margin: 80px 100px auto;
    }
    &-header {
        @extend .qualities-header;
        margin-bottom: 28px;
        &__title {
            font-family: $mont;
            line-height: 68px;
            letter-spacing: 2%;
            color: $black;
            font-weight: 700;
            text-align: center;
            font-size: 48px;
            width: 517px;
        }
        &__description {
            font-weight: 400;
            color: $black;
            line-height: 32.78px;
            font-family: $mont;
            text-align: center;
            font-size: 20px;
            width: 770px;
        }
    }
    &-items {
        column-gap: 20px;
        row-gap: 28px;
    }

}