.partners {
    margin-top: 60px;
    background: rgba(244, 244, 244, 1);
    padding: 40px 0px 53px 0;
    &-container {
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}